.uptimes.el
.last-package-update-day
elpa/
places
projectile-bookmarks.eld
projectile.cache
quelpa/
recentf
undohist/
bookmarks
network-security.data
trash/
url
vimish-fold
var/pcache
request/
magithub/
lisp/
transient/
.lsp-session-v1
forge-database.sqlite
custom.el
config.el
